* {
  box-sizing: border-box;
  list-style: none; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  -ms-touch-action: none;
  touch-action: none; }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }
  a:hover, a:focus, a:active {
    outline: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto; }

input[type='text']:focus::-webkit-input-placeholder,
input[type='tel']:focus::-webkit-input-placeholder,
input[type='email']:focus::-webkit-input-placeholder,
input[type='password']:focus::-webkit-input-placeholder,
input[type='search']:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }
input[type='text']:focus::-moz-placeholder,
input[type='tel']:focus::-moz-placeholder,
input[type='email']:focus::-moz-placeholder,
input[type='password']:focus::-moz-placeholder,
input[type='search']:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }
input[type='text']:focus:-moz-placeholder,
input[type='tel']:focus:-moz-placeholder,
input[type='email']:focus:-moz-placeholder,
input[type='password']:focus:-moz-placeholder,
input[type='search']:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }
input[type='text']:focus:-ms-input-placeholder,
input[type='tel']:focus:-ms-input-placeholder,
input[type='email']:focus:-ms-input-placeholder,
input[type='password']:focus:-ms-input-placeholder,
input[type='search']:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent !important; }

@font-face {
  font-family: 'Spartan';
  src: url("/public/fonts/spartan/spartan-bold-webfont.woff2"), url("/public/fonts/spartan/spartan-bold-webfont.woff"); }
@font-face {
  font-family: 'DisplayRegular';
  src: url("/public/fonts/dispa-regular/playfairdisplay-regular-webfont.woff2"), url("/public/fonts/dispa-regular/playfairdisplay-regular-webfont.woff"); }
@font-face {
  font-family: 'DisplayBlack';
  src: url("/public/fonts/dispa/playfairdisplay-black-webfont.woff2"), url("/public/fonts/dispa/playfairdisplay-black-webfont.woff"); }
@font-face {
  font-family: 'Poppins';
  src: url("/public/fonts/poppins/poppins-regular-webfont.woff2"), url("/public/fonts/poppins/poppins-regular-webfont.woff"); }
header {
  padding: 0 105px 0 105px; }
  header:before, header:after {
    content: " ";
    display: table;
    clear: both; }

.container {
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  width: 100%;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table;
    clear: both; }

.header__icon-wrap {
  padding-top: 40px;
  float: left; }

.header__navigation {
  padding-top: 60px;
  padding-left: 180px; }
  .header__navigation .header__list {
    margin: 0; }
    .header__navigation .header__list .header__item {
      float: left;
      margin: 0;
      padding-left: 45px;
      opacity: 0.9;
      color: #0b0c11;
      font-size: 9px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 5.58px;
      font-family: 'Spartan'; }
      .header__navigation .header__list .header__item:first-child {
        padding-left: 0; }

.header__title-wrap {
  padding-top: 244px; }
  .header__title-wrap:before, .header__title-wrap:after {
    content: " ";
    display: table;
    clear: both; }
  .header__title-wrap .header__opening {
    opacity: 0.9;
    color: #5da8ef;
    font-family: 'Spartan';
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    margin: 0; }
  .header__title-wrap .header__title {
    color: #0b0c11;
    font-family: 'Display';
    font-size: 62px;
    font-weight: 700;
    line-height: 64px;
    margin: 0;
    padding: 26px 0 18px 0; }
  .header__title-wrap .header__p {
    color: #8f8f8f;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    margin: 0;
    padding-bottom: 185px;
    position: relative; }
  .header__title-wrap .header__btn-wrap {
    position: absolute;
    width: 60px;
    bottom: 20px;
    left: 10px; }
    .header__title-wrap .header__btn-wrap .header__btn {
      cursor: pointer; }
      .header__title-wrap .header__btn-wrap .header__btn.btn-A {
        position: absolute;
        left: -10px; }
      .header__title-wrap .header__btn-wrap .header__btn.btn-B {
        position: absolute;
        right: -3px; }
    .header__title-wrap .header__btn-wrap .btn__numbers {
      display: none;
      position: absolute;
      left: 10px;
      color: #5da8ef;
      font-family: 'Spartan';
      font-size: 12px; }
      .header__title-wrap .header__btn-wrap .btn__numbers.block {
        display: block; }
    .header__title-wrap .header__btn-wrap .btn__numbers-table {
      position: absolute;
      left: 33px;
      color: #262626;
      font-family: 'Spartan';
      font-size: 12px; }
    .header__title-wrap .header__btn-wrap .btn__number-per {
      color: #ebebeb;
      position: absolute;
      right: 7px;
      letter-spacing: 4px; }

.header__gallery {
  top: 134px;
  position: absolute;
  width: 1016px;
  right: 0px;
  z-index: -1;
  box-shadow: -8px 56px 47px -7px rgba(0, 0, 0, 0.3); }
  .header__gallery .header__image #header__img {
    transition: 0.8s;
    position: absolute;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 550px; }
    .header__gallery .header__image #header__img.showed {
      opacity: 1; }

@media screen and (max-width: 1281px) {
  .container .header__gallery {
    width: 850px;
    height: 500px; } }
@media screen and (max-width: 1280px) {
  .container .header__gallery {
    width: 849px;
    height: 500px; } }
section {
  padding: 0 105px 0 105px; }

.container {
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  width: 100%;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table;
    clear: both; }

.section__title-wrap {
  margin: 0 auto;
  text-align: center; }
  .section__title-wrap .section__title {
    padding-top: 190px;
    margin: 0;
    opacity: 0.9;
    color: #333333;
    font-family: 'Display';
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.26px; }
  .section__title-wrap .section__signature {
    padding: 30px 0 58px 0;
    margin: 0;
    opacity: 0.9;
    color: #333333;
    font-family: 'Spartan';
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5.4px; }

.section__center-line {
  margin: 0 auto;
  width: 2px;
  height: 100px;
  background-color: #5da8ef; }

.section__info-float {
  margin: 420px 0 0 60px;
  width: 360px;
  float: left;
  position: relative; }
  .section__info-float .section__info-float--head {
    margin: 0;
    opacity: 0.65;
    color: #616161;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px; }
  .section__info-float .section__info-float--link {
    margin: 0;
    padding-bottom: 10px;
    color: #333333;
    font-family: 'Spartan';
    font-size: 9px;
    font-weight: 700;
    line-height: 66px;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    border-bottom: 2px solid #5da8ef; }

.section__video-absolute {
  position: absolute;
  bottom: 125px;
  width: 613px;
  height: 370px;
  z-index: -1; }
  .section__video-absolute .section__video-absolute-img {
    width: 100%; }

.section__video-float {
  width: 606px;
  margin-top: 105px;
  float: right;
  box-shadow: -8px 7px 47px -10px rgba(0, 0, 0, 0.7); }
  .section__video-float .section___video-img {
    width: 706px;
    height: 549px; }

@media screen and (max-width: 1281px) {
  .section__video-absolute {
    position: absolute;
    width: 533px;
    height: 370px; }
    .section__video-absolute .section__video-absolute-img {
      width: 100%; }

  .section__video-float .section__video-img {
    width: 100%;
    height: 449px; } }
figure {
  padding: 0 105px 0 105px;
  margin: 0; }
  figure:before, figure:after {
    content: " ";
    display: table;
    clear: both; }

.container {
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  width: 100%;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table;
    clear: both; }

.figure__arrow-right--wrapp {
  position: absolute;
  bottom: 205px;
  right: -80px;
  z-index: 1;
  cursor: pointer; }

.figure__arrow-left--wrapp {
  position: absolute;
  bottom: 205px;
  left: -80px;
  cursor: pointer;
  z-index: 1; }

.figure__shop {
  text-align: center;
  padding-top: 195px;
  margin: 0;
  color: #5da8ef;
  font-family: 'Spartan';
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.4px; }

.figure__header {
  text-align: center;
  padding-bottom: 50px;
  margin: 0;
  color: #333333;
  font-family: "Playfair Display";
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0.42px; }

.figure__gallery {
  border: 2px solid #000;
  overflow: hidden;
  position: relative; }
  .figure__gallery:before, .figure__gallery:after {
    content: " ";
    display: table;
    clear: both; }
  .figure__gallery .figure__slider {
    position: relative;
    left: 0;
    transition: all ease 0.4s; }
  .figure__gallery .figure__image {
    border: 2px solid pink;
    float: left;
    margin-right: 288px;
    position: relative;
    z-index: 1; }
    .figure__gallery .figure__image:last-child {
      margin: 0; }
    .figure__gallery .figure__image.background-A {
      margin-left: 21px; }
      .figure__gallery .figure__image.background-A:before {
        content: "";
        position: absolute;
        bottom: 0px;
        right: -31px;
        width: 170px;
        height: 250px;
        background-color: #e8e8e8;
        z-index: -1; }
    .figure__gallery .figure__image.background-B:before {
      content: "";
      position: absolute;
      bottom: 0px;
      right: -31px;
      width: 170px;
      height: 250px;
      background-color: #e8e8e8;
      z-index: -1; }
    .figure__gallery .figure__image.background-C:before {
      content: "";
      position: absolute;
      bottom: 1px;
      right: -31px;
      width: 170px;
      height: 251px;
      background-color: #e8e8e8;
      z-index: -1; }
    .figure__gallery .figure__image .figure__img {
      width: 118px;
      height: 420px; }
    .figure__gallery .figure__image .figure__info-wrap {
      position: absolute;
      top: 240px;
      right: -130px; }
      .figure__gallery .figure__image .figure__info-wrap .figure__image-names {
        margin: 0;
        color: #7a7a7a;
        font-family: 'Poppins';
        font-size: 11px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2.4px; }
      .figure__gallery .figure__image .figure__info-wrap .figure__image-board--names {
        margin: 0;
        color: #333333;
        font-family: 'DisplayBlack';
        font-size: 20px;
        font-weight: 400;
        line-height: 28px; }
        .figure__gallery .figure__image .figure__info-wrap .figure__image-board--names .figure__tiny {
          font-family: 'DisplayRegular';
          letter-spacing: 0.26px; }
      .figure__gallery .figure__image .figure__info-wrap .figure__price {
        margin: 30px 0 0 60px;
        color: #ce60a8;
        font-family: 'Poppins';
        font-size: 19px;
        font-weight: 300;
        letter-spacing: -0.1px; }
        .figure__gallery .figure__image .figure__info-wrap .figure__price.figure-margin {
          margin-left: 50px; }
      .figure__gallery .figure__image .figure__info-wrap .figure__buy {
        margin: 0 0 0 60px;
        color: #333333;
        font-family: 'Spartan';
        font-size: 9px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 5.4px; }
        .figure__gallery .figure__image .figure__info-wrap .figure__buy.buy__margin {
          margin-left: 51px; }

.figure-show-wrapp {
  padding-top: 80px;
  text-align: center;
  clear: left; }
  .figure-show-wrapp .figure__show-link {
    padding-bottom: 10px;
    margin: 0;
    display: inline-block;
    border-bottom: 2px solid #5da8ef;
    color: #333333;
    font-family: 'Spartan';
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5.4px; }

/*# sourceMappingURL=style.css.map */
