* {
  box-sizing: border-box;
  list-style: none; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  -ms-touch-action: none;
  touch-action: none; }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }
  a:hover, a:focus, a:active {
    outline: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto; }

input[type='text']:focus::-webkit-input-placeholder,
input[type='tel']:focus::-webkit-input-placeholder,
input[type='email']:focus::-webkit-input-placeholder,
input[type='password']:focus::-webkit-input-placeholder,
input[type='search']:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }
input[type='text']:focus::-moz-placeholder,
input[type='tel']:focus::-moz-placeholder,
input[type='email']:focus::-moz-placeholder,
input[type='password']:focus::-moz-placeholder,
input[type='search']:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }
input[type='text']:focus:-moz-placeholder,
input[type='tel']:focus:-moz-placeholder,
input[type='email']:focus:-moz-placeholder,
input[type='password']:focus:-moz-placeholder,
input[type='search']:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }
input[type='text']:focus:-ms-input-placeholder,
input[type='tel']:focus:-ms-input-placeholder,
input[type='email']:focus:-ms-input-placeholder,
input[type='password']:focus:-ms-input-placeholder,
input[type='search']:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent !important; }

@font-face {
  font-family: 'Spartan';
  src: url("/public/fonts/spartan/spartan-bold-webfont.woff2"), url("/public/fonts/spartan/spartan-bold-webfont.woff"); }
@font-face {
  font-family: 'Display';
  src: url("/public/fonts/dispa/display-webfont.woff2"), url("/public/fonts/dispa/display-webfont.woff"); }
@font-face {
  font-family: 'DisplayRegular';
  src: url("/public/fonts/dispa-regular/display-regular-webfont.woff2"), url("/public/fonts/dispa-regular/display-regular-webfont.woff"); }
@font-face {
  font-family: 'Poppins';
  src: url("/public/fonts/poppins/poppins-webfont.woff2"), url("/public/fonts/poppins/poppins-webfont.woff"); }
header {
  padding: 0 105px 0 105px;
  border-left: 1px solid #f5f5f5; }
  header:before, header:after {
    content: " ";
    display: table;
    clear: both; }

.container {
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  width: 100%;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table;
    clear: both; }

.header__icon-wrap {
  padding-top: 40px;
  float: left; }

.header__navigation {
  padding-top: 60px;
  padding-left: 180px; }
  .header__navigation .header__list {
    margin: 0; }
    .header__navigation .header__list .header__item {
      float: left;
      margin: 0;
      padding-left: 45px;
      opacity: 0.9;
      color: #0b0c11;
      font-size: 9px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 5.58px;
      font-family: 'Poppins'; }
      .header__navigation .header__list .header__item:first-child {
        padding-left: 0; }

.header__title-wrap {
  padding-top: 244px; }
  .header__title-wrap:before, .header__title-wrap:after {
    content: " ";
    display: table;
    clear: both; }
  .header__title-wrap .header__opening {
    opacity: 0.9;
    color: #5da8ef;
    font-family: 'Spartan';
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    margin: 0; }
  .header__title-wrap .header__title {
    color: #0b0c11;
    font-family: 'Display';
    font-size: 62px;
    font-weight: 700;
    line-height: 64px;
    margin: 0;
    padding: 26px 0 18px 0; }
  .header__title-wrap .header__p {
    color: #8f8f8f;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    margin: 0; }

.header__gallery {
  top: 134px;
  position: absolute;
  width: 1016px;
  right: 0px;
  z-index: -1;
  box-shadow: -9px 3px 40px -18px rgba(0, 0, 0, 0.66); }
  .header__gallery .header__image #header__img {
    transition: 0.8s;
    position: absolute;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 550px; }
    .header__gallery .header__image #header__img.showed {
      opacity: 1; }
  .header__gallery .header__btn-wrap {
    position: absolute;
    width: 60px;
    top: 530px;
    left: -208px; }
    .header__gallery .header__btn-wrap .header__btn {
      width: 10px;
      height: 18px;
      cursor: pointer; }
      .header__gallery .header__btn-wrap .header__btn.btn-A {
        position: absolute;
        left: -10px; }
      .header__gallery .header__btn-wrap .header__btn.btn-B {
        position: absolute;
        right: -3px; }
    .header__gallery .header__btn-wrap .btn__numbers {
      display: none;
      position: absolute;
      left: 15px;
      color: #5da8ef;
      letter-spacing: 4px;
      font-family: 'Spartan'; }
      .header__gallery .header__btn-wrap .btn__numbers.block {
        display: block; }
    .header__gallery .header__btn-wrap .btn__numbers-table {
      position: absolute;
      left: 33px;
      color: #262626;
      font-family: 'Spartan'; }
    .header__gallery .header__btn-wrap .btn__number-per {
      color: #ebebeb;
      position: absolute;
      right: 11px; }

@media screen and (max-width: 1281px) {
  .container .header__gallery {
    width: 850px;
    height: 500px; } }
@media screen and (max-width: 1280px) {
  .container .header__gallery {
    width: 849px;
    height: 500px; } }

/*# sourceMappingURL=style.css.map */
