@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/font_vars';
// Base style (tag only)
* {
  box-sizing: border-box;
  list-style: none;
  &:before,
  &:after {
    box-sizing: border-box;
  }
  // margin: 0;
  // padding: 0;
}

body {
  padding: 0;
  margin: 0;
  // font-weight: 400;
  -ms-touch-action: none;
  touch-action: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus,
  &:active {
    outline: 0;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

// disable placeholder - onfocus/onblur effect
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='search'],
textarea {
  &:focus {
    &::-webkit-input-placeholder {
      color: transparent !important;
    }
    &::-moz-placeholder {
      color: transparent !important;
    }
    &:-moz-placeholder {
      color: transparent !important;
    }
    &:-ms-input-placeholder {
      color: transparent !important;
    }
  }
}