@font-face {
  font-family: 'Spartan';
  src: url('/public/fonts/spartan/spartan-bold-webfont.woff2'),
       url('/public/fonts/spartan/spartan-bold-webfont.woff');
}

@font-face {
  font-family: 'DisplayRegular';
  src: url('/public/fonts/dispa-regular/playfairdisplay-regular-webfont.woff2'),
       url('/public/fonts/dispa-regular/playfairdisplay-regular-webfont.woff');
}

@font-face {
  font-family: 'DisplayBlack';
  src: url('/public/fonts/dispa/playfairdisplay-black-webfont.woff2'),
       url('/public/fonts/dispa/playfairdisplay-black-webfont.woff');
}
@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/poppins/poppins-regular-webfont.woff2'),
       url('/public/fonts/poppins/poppins-regular-webfont.woff');
}